<div class="h-screen w-full justify-center items-center bg-gray-700 px-3 py-3 text-gray-800 overflow-hidden">
    <div class="h-full w-full bg-white shadow border overflow-auto px-4 py-4">
        <form #form='ngForm'>
            <div class="flex w-full h-auto">
                <div class="flex flex-col h-full w-3/12">
                    <p class="font-semibold mb-1 w-full text-center">Entrada de Dados:</p>
                    <div class="flex flex-col w-full h-auto border rounded-lg px-4 py-4 bg-gray-100">
                        <div class="flex w-full">
                            <ngt-input class="block w-6/12 px-2" mask='decimal' name='inputPositionX'
                                [(ngModel)]="inputPositionX" label='X' [jit]='true'
                                [isDisabled]="radiusInput || angleInput"></ngt-input>
                            <ngt-input class="block w-6/12 px-2" mask='decimal' name='inputPositionY'
                                [(ngModel)]="inputPositionY" label='Y' [jit]='true'
                                [isDisabled]="radiusInput || angleInput"></ngt-input>
                        </div>

                        <div class="flex w-full mt-2">
                            <ngt-input class="block w-6/12 px-2" mask='decimal' name='radiusInput'
                                [(ngModel)]="radiusInput" label='Raio' [jit]='true'
                                [isDisabled]="inputPositionX || inputPositionY"></ngt-input>
                            <ngt-input class="block w-6/12 px-2" mask='decimal' name='angleInput'
                                [(ngModel)]="angleInput" label='Ângulo' [jit]='true'
                                [isDisabled]="inputPositionX || inputPositionY"></ngt-input>
                        </div>

                        <div class="flex w-full mt-2">
                            <ngt-input class="block w-6/12 px-2" mask='decimal' name='speedInput'
                                [(ngModel)]="speedInput" label='Velocidade'></ngt-input>
                            <ngt-input class="block w-6/12 px-2" name='directionInput' [(ngModel)]="directionInput"
                                label='Direção'></ngt-input>
                        </div>

                        <ngt-button class="block mt-4 px-2 hover:opacity-75" type='success' (click)='saveInputData()'>
                            <span class="w-full text-center">Salvar</span>
                        </ngt-button>
                    </div>

                    <br>
                    <p class="font-semibold mb-1 w-full text-center">Funções de Transformação:</p>
                    <div class="flex flex-col w-full h-auto">
                        <div class="flex flex-col w-full h-auto border rounded-lg px-4 py-4 bg-gray-100">
                            <div class="flex w-full">
                                <ngt-input class="block w-6/12 px-2" mask='decimal' name='translandePositionX'
                                    [(ngModel)]="translandePositionX" label='X'></ngt-input>
                                <ngt-input class="block w-6/12 px-2" mask='decimal' name='translandePositionY'
                                    [(ngModel)]="translandePositionY" label='Y'></ngt-input>
                            </div>

                            <ngt-button class="block mt-4 px-2 hover:opacity-75" type='info' (click)='translande()'>
                                <span class="w-full text-center">Translandar</span>
                            </ngt-button>
                        </div>

                        <div class="flex flex-col w-full h-auto border rounded-lg mt-4 px-4 py-4 bg-gray-100">
                            <div class="flex w-full">
                                <ngt-input class="block w-6/12 px-2" mask='decimal' name='staggerPositionX'
                                    [(ngModel)]="staggerPositionX" label='X'></ngt-input>
                                <ngt-input class="block w-6/12 px-2" mask='decimal' name='staggerPositionY'
                                    [(ngModel)]="staggerPositionY" label='Y'></ngt-input>
                            </div>

                            <ngt-button class="block mt-4 px-2 hover:opacity-75" type='info' (click)='stagger()'>
                                <span class="w-full text-center">Escalonar</span>
                            </ngt-button>
                        </div>
                    </div>

                    <div class="flex flex-col w-full h-auto border rounded-lg mt-4 px-4 py-4 bg-gray-100">
                        <ngt-input class="block w-full px-2" mask='decimal' name='rotateAngle' [(ngModel)]="rotateAngle"
                            label='Ângulo'></ngt-input>

                        <div class="flex w-full mt-2">
                            <ngt-input class="block w-6/12 px-2" mask='decimal' name='rotateAngleX'
                                [(ngModel)]="rotateAngleX" label='X'></ngt-input>
                            <ngt-input class="block w-6/12 px-2" mask='decimal' name='rotateAngleY'
                                [(ngModel)]="rotateAngleY" label='Y'></ngt-input>
                        </div>

                        <ngt-button class="block mt-4 px-2 hover:opacity-75" type='info' (click)='rotate()'>
                            <span class="w-full text-center">Rotacionar</span>
                        </ngt-button>
                    </div>
                </div>

                <div class="flex flex-col w-9/12 mx-6">
                    <div class="flex w-full h-full">
                        <div class="flex flex-col w-7/12 mr-6">
                            <p class="font-semibold mb-1 w-full text-center">Radar:</p>
                            <div class="flex w-full h-full border rounded-lg">
                                <!-- RADAR -->
                            </div>
                        </div>

                        <div class="flex flex-col w-5/12">
                            <p class="font-semibold mb-1 w-full text-center">Relatório:</p>
                            <div class="flex w-full h-full border rounded-lg">
                                <!-- Relatório -->
                            </div>
                        </div>
                    </div>

                    <p class="font-semibold mb-1 mt-4 w-full text-center">DataGrid:</p>
                    <div class="flex w-full h-full border rounded-lg overflow-auto">
                        <ngt-datatable class="block min-w-full" [type]='ngtDatatableType' #ngtDatatable>
                            <thead ngt-thead>
                                <tr ngt-tr>
                                    <th class="w-1" ngt-th-check></th>
                                    <th ngt-th>ID</th>
                                    <th ngt-th>X</th>
                                    <th ngt-th>Y</th>
                                    <th ngt-th>Raio</th>
                                    <th ngt-th>Ângulo</th>
                                    <th ngt-th>Velocidade</th>
                                    <th ngt-th>Direção</th>
                                </tr>
                            </thead>

                            <tbody ngt-tbody>
                                <tr [evenStripped]='true' ngt-tr *ngFor='let data of tableData'>
                                    <td [reference]='data' ngt-td-check></td>
                                    <td ngt-td>{{ data.id }}</td>
                                    <td ngt-td>{{ data.x }}</td>
                                    <td ngt-td>{{ data.y }}</td>
                                    <td ngt-td>{{ data.radius }}</td>
                                    <td ngt-td>{{ data.angle }}</td>
                                    <td ngt-td>{{ data.speed }}</td>
                                    <td ngt-td>{{ data.direction }}</td>
                                </tr>
                            </tbody>
                        </ngt-datatable>
                    </div>
                </div>
            </div>

            <br>
            <p class="font-semibold mb-2 w-full text-center">Funções de Rastreamento:</p>
            <div class="flex w-full">
                <div class="flex flex-col w-4/12 h-auto border rounded-lg px-4 py-4 bg-gray-100">
                    <ngt-input class="block w-full px-2" mask='decimal' name='airportDistance'
                        [(ngModel)]="airportDistance" label='Distância mínima'></ngt-input>

                    <ngt-button class="block mt-4 px-2 hover:opacity-75" type='danger'
                        (click)='trackPlanesNearAirport()'>
                        <span class="w-full text-center">Aviões Próximos ao Aeroporto</span>
                    </ngt-button>
                </div>

                <div class="flex flex-col w-4/12 h-auto border rounded-lg mx-4 px-4 py-4 bg-gray-100">
                    <ngt-input class="block w-full px-2" mask='decimal' name='nearbyPlanesDistance'
                        [(ngModel)]="nearbyPlanesDistance" label='Distância mínima'></ngt-input>

                    <ngt-button class="block mt-4 px-2 hover:opacity-75" type='danger' (click)='trackNearbyPlanes()'>
                        <span class="w-full text-center">Aviões Próximos</span>
                    </ngt-button>
                </div>

                <div class="flex flex-col w-4/12 h-auto border rounded-lg px-4 py-4 bg-gray-100">
                    <ngt-input class="block w-full px-2" mask='decimal' name='collisionDistance'
                        [(ngModel)]="collisionDistance" label='Distância mínima'></ngt-input>

                    <ngt-button class="block mt-4 px-2 hover:opacity-75" type='danger' (click)='trackCollision()'>
                        <span class="w-full text-center">Rota de Colisão</span>
                    </ngt-button>
                </div>
            </div>
        </form>
    </div>
</div>