<div class="min-h-full min-w-full relative overflow-hidden" style="max-height: 550px;" #radarContainer>
    <div class="flex flex-wrap w-full absolute top-0" style="max-height: 550px;">
        <ng-container *ngFor="let square of radarSquares">
            <div class="border" [ngStyle]="{ 'height': square.height, 'width': square.width }">
            </div>
        </ng-container>
    </div>

    <div class="px-1 py-1 rounded-full bg-gray-700 absolute top-0" [ngStyle]="{ 'transform': middlePointTranslation }"
        #middlePoint>
    </div>

    <ng-container *ngFor="let data of tableData">
        <ng-container *ngIf="data.translation">
            <div class="block absolute top-0 text-gray-600 text-xl" [ngStyle]="{ 'transform': data.translation }">
                <ngt-svg src='assets/images/icons/airplane.svg'></ngt-svg>
            </div>
        </ng-container>
    </ng-container>
</div>