<form>
    <div class="h-screen w-full bg-gray-700 px-3 py-3 text-gray-800 overflow-hidden">
        <div class="h-full w-full bg-white shadow border overflow-auto px-4 py-4">
            <div class="flex flex-col w-full h-full">
                <div class="flex flex-col w-full">
                    <p class="font-semibold mb-1 w-full text-center">Radar:</p>
                    <div class="flex w-full border">
                        <app-radar class="block w-full" style="height: 600px;"></app-radar>
                    </div>
                </div>

                <div class="flex flex-col w-full mt-6">
                    <p class="font-semibold mb-1 mt-4 w-full text-center">DataGrid:</p>
                    <div class="flex w-full h-full border rounded-lg overflow-auto">
                        <ngt-datatable class="block min-w-full" type='fixed' #ngtDatatable>
                            <thead ngt-thead>
                                <tr ngt-tr>
                                    <th class="w-1" ngt-th-check></th>
                                    <th ngt-th>ID</th>
                                    <th ngt-th>X</th>
                                    <th ngt-th>Y</th>
                                    <th ngt-th>Raio</th>
                                    <th ngt-th>Ângulo</th>
                                    <th ngt-th>Velocidade</th>
                                    <th ngt-th>Direção</th>
                                    <th ngt-th>Ações</th>
                                </tr>
                            </thead>

                            <tbody ngt-tbody>
                                <tr [evenStripped]='true' ngt-tr *ngFor='let airplane of getTableData()'>
                                    <td [reference]='airplane' ngt-td-check></td>
                                    <td ngt-td>{{ airplane.id }}</td>
                                    <td ngt-td>{{ airplane.x || 0 }}</td>
                                    <td ngt-td>{{ airplane.y || 0}}</td>
                                    <td ngt-td>{{ airplane.radius || 0 }}</td>
                                    <td ngt-td>{{ airplane.angle || 0 }}</td>
                                    <td ngt-td>{{ airplane.speed || 0 }}</td>
                                    <td ngt-td>{{ airplane.direction || 0 }}</td>
                                    <td ngt-td>
                                        <ngt-action class="text-xl" icon="assets/images/icons/trash.svg"
                                            color.text="text-gray-600 hover:text-white" color.bg='hover:bg-red-500'
                                            title="Excluir" ngt-stylizable (click)='removeAirplane(airplane)'>
                                        </ngt-action>
                                    </td>
                                </tr>
                            </tbody>
                        </ngt-datatable>
                    </div>
                </div>

                <div class="flex flex-col w-full mt-6 mb-6">
                    <p class="font-semibold mb-1 w-full text-center">Relatório:</p>
                    <div class="flex w-full h-full border rounded-lg overflow-auto">
                        <ngt-datatable class="block min-w-full" type='fixed' #ngtDatatable>
                            <thead ngt-thead>
                                <tr ngt-tr>
                                    <th ngt-th>ID</th>
                                    <th ngt-th>
                                        <p class="w-full text-center">Evento</p>
                                    </th>
                                    <th ngt-th>Aviões</th>
                                    <th ngt-th>Posição</th>
                                    <th ngt-th>Distância</th>
                                    <th ngt-th>Tempo</th>
                                    <th ngt-th>Ações</th>
                                </tr>
                            </thead>

                            <tbody ngt-tbody>
                                <tr [evenStripped]='true' ngt-tr *ngFor='let report of getReportData()'>
                                    <td ngt-td>{{ report.id }}</td>
                                    <td ngt-td>
                                        <div *ngIf="report.type == 'AIRPORT'"
                                            class="px-2 bg-blue-500 rounded-full text-center text-white font-semibold text-xs">
                                            {{ report.type | reportTypePipe }}
                                        </div>

                                        <div *ngIf="report.type == 'NEARBY'"
                                            class="px-2 bg-orange-500 rounded-full text-center text-white font-semibold text-xs">
                                            {{ report.type | reportTypePipe }}
                                        </div>

                                        <div *ngIf="report.type == 'COLISION'"
                                            class="px-2 bg-red-500 rounded-full text-center text-white font-semibold text-xs">
                                            {{ report.type | reportTypePipe }}
                                        </div>
                                    </td>
                                    <td ngt-td>{{ report.airplanes }}</td>
                                    <td ngt-td>{{ report.position }}</td>
                                    <td ngt-td>{{ report.distance ? report.distance + 'KM' : 'Desconhecida' }}</td>
                                    <td ngt-td>{{ report.time || 'Desconhecido' }}</td>
                                    <td ngt-td>
                                        <ngt-action class="text-xl" icon="assets/images/icons/trash.svg"
                                            color.text="text-gray-600 hover:text-white" color.bg='hover:bg-red-500'
                                            title="Excluir" ngt-stylizable (click)='removeReport(report)'>
                                        </ngt-action>
                                    </td>
                                </tr>
                            </tbody>
                        </ngt-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<input-data-modal></input-data-modal>
<transformation-functions-modal></transformation-functions-modal>
<tracking-functions-modal></tracking-functions-modal>